$ var userData = data.userData;
<div class="profilePhotoWrapper">
	<div class="profilePhoto dummyAvatar">
		<img src="${userData.viewedUser.userProfileImg}" class="profileImg">
	</div>
	<div class="hide">
		<label for="profilePhoto" class="btnDefault btnHalf">change photo</label>
		<input id="profilePhoto" type="file" name="media" class="js-media hide" />
		<div class="btnDefault btnHalf">remove photo</div>
	</div>
</div>