<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><layout-placeholder name="title"/></title>
    <layout-placeholder name="styles"/>
</head>
<body>
	<h2>${data.layoutData.data.name}</h2>
    <layout-placeholder name="body"/>
    <div>
        <footer/>
    </div>
</body>
</html>