<section class="leftContent">
	<include(input.leftContent)/>
</section>
<section class="mainContent yip">
	<include(input.mainContent)/>
</section>
<section class="rightContent">
	<include(input.rightContent)/>
</section>
