<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><layout-placeholder name="title"/></title>
    <layout-placeholder name="styles"/>
</head>
<body>
    <layout-placeholder name="body"/>
    <div>
        <layout-placeholder name="footer"/>
    </div>
</body>
</html>