<div class="CreatePostWrap js-postParent">
	<div class="postContent">
		<input type="text" name="" class="js-postMsg">
	</div>
	<div class="js-error hide">please fill field</div>
	<div class="postSubmit">
		<div class="btnDefault js-submitPost">Submit</div>
	</div>
</div>