@import './components/header';
@import './components/formElements';
* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-family: 'Exo 2', sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

.body-content {
    margin-top: 50px;
}

.hide{
	display: none !important;
}