header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: rgba(23, 149, 222, 1);
    box-shadow: 0px -1px 10px 1px rgb(148, 148, 148);
    .title {
        float: left;
        padding-top: 3px;
        height: 50px;
        color: #fff;
        font-size: 35px;
    }
    .loginDetails {
        position: relative;
        margin-right: 15px;
        float: right;
        height: 50px;
    }
    .loggedIn {
        padding-top: 5px;
        padding-right: 16px;
        height: 50px;
        color: #fff;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
        font-size: 18px;
    }
    .logInFail {
        position: absolute;
        left: 10px;
        bottom: 4px;
        font-size: 12px;
        color: rgba(255, 0, 0, 1);
    }
    .showUsername {
        display: inline-block;
    }
    .loginForm {
        display: inline-block;
        padding-top: 4px;
        height: 100%;
    }
}
