$ var action = data.action;
<div class="js-userSuggestions">
	<for (user in data.users
	)>
		<div class="userContainer">
			<div class="username">${user.username}</div>
			<div if(action) class="btnDefault sendRequest js-${action}" data-userid="${user.userId}">${data.btnText}</div>
		</div>
	</for>
</div>