<div class="popupWrapper">
	<div class="closePopup js-closePopup" data-close="signup">X</div>
	<div class="popupContent"  id="js-mediaPopup">
		<img src="${input.URL}" class="js-mediaImg mediaImg">
	</div>	
</div>
