<for (post in data.postData)>
	<div class="postContainer">
		<div class="postDate">${post.dateCreated}</div>
		<div class="postContent">${post.content}</div>
		<div class="visiblePrivacy">${post.privacy}</div>
	</div>
</for>