<div class="js-userSuggestions">
	<for (user in data)>
		<div class="userContainer">
			<div class="username">${user.username}</div>
			<div class="btnDefault sendRequest js-sendRequest" data-userid="${user.userId}">send friend Request</div>
		</div>
</for>
</div>