<!DOCTYPE html>
<html lang="en">
    <head>
    <link rel="stylesheet" type="text/css" href="/styles/css/main.css">
        <title>Marko Templating Engine</title>
    </head>
    <body>
        <h1>
           hello man how are u ??? 
        </h1>
        <browser-refresh enabled="true" />
    </body>
</html>